<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
  
    <app-sidebar></app-sidebar>
    <app-header></app-header>
      
  <!-- Content Wrapper. Contains page content -->
  
  <div class="content-wrapper" style="height:700px  !important;"><!-- Content Header (Page header) -->
    <section class="content-header">
  <!--<h1>Dashboard <small>Control panel</small></h1>-->
  
  <ol class="breadcrumb">  
    <li><a href="#">Home/Center-Admin</a></li>
    <li class="active">Manage Template</li>
  </ol>
  </section>
  <!-- Main content -->
  
  <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row"><br/>
        
          <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <p>Test Details</p>
              </div>
              
              <a href="#" id="info1"  class="small-box-footer ">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <p>Diagnostic Details</p>
              </div>
             
              <a href="#" id="info2" class="small-box-footer ">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
              <div class="inner">
                <p>Scan Details </p>
              </div>
              <a href="#" id="info3" class="small-box-footer ">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          
          <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <p>Table 4</p>
              </div>
               <a href="#" id="info4" class="small-box-footer ">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          
          <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-fuchsia">
              <div class="inner">
                <p>Table 5</p>
              </div>
               <a href="#" id="info5" class="small-box-footer ">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          
          <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue-gradient">
              <div class="inner">
                <p>Table 6</p>
              </div>
              <a href="#" id="info6" class="small-box-footer ">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <section>
          <div class="box" id="t1">
              <div class="box-header with-border" style="">
                <h3 class="box-title">Test Details</h3>
  
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus" style="color:#f39c12;"></i>
                  </button>
               </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                <!-- Map will be created here -->
            <form class="">
                       <div class="col-lg-12">
                            <div class="col-lg-3 pull-right"><br/>
                              <button type="button" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Download Template</button>
                              </div>
                              <div class="col-lg-3 pull-right">
                                <label>Upload Excell</label>
                                  <input type="file">
                              </div>
                          </div>
              <div class="box-body table-responsive">
       
               <table class="table table-bordered table-hover" id="example1" style="width:100%;">
                  <thead>
  
           <tr>
                 
                 <th class="th">Test Name</th>
                 <th class="th">Alternate Name</th>
           <th class="th">Test Id</th>
                 <th class="th">Test Instruction</th>
                 <th class="th">Test Description</th>
                
          </tr>
           </thead>
  <tbody>
           <tr>
          <td class="td">---</td>
                <td class="td">---</td>
                <td class="td">---</td>
                 <td class="td">---</td>
                <td class="td">---</td> 
                </tr>
               
          </tbody>
                </table>
              </div>
       
                  
                    </form> 		    
               
               </div>
          
            </div>
          
          <div class="box " id="t2" >
              <div class="box-header with-border" style="">
                <h3 class="box-title">Diagnostic Details</h3>
  
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus" style="color:#e08e0b;"></i>
                  </button>
               </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                <!-- Map will be created here -->
            <form class="">
                       <div class="col-lg-12">
                            <div class="col-lg-3 pull-right"><br/>
                              <button type="button" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Download Template</button>
                              </div>
                              <div class="col-lg-3 pull-right">
                                <label>Upload Excell</label>
                                  <input type="file">
                              </div>
                          </div>
              <div class="box-body table-responsive">
       
               <table class="table table-bordered table-hover" id="example2" style="width:100%;">
                  <thead>
  
           <tr>
                 
                 <th class="th">Diagnostic Center Name</th>
                 <th class="th">Diagnostic</th>
                 <th class="th">Amount</th>
                 <th class="th">Mode</th>
              </tr>
           </thead>
  <tbody>
           <tr>
          
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                </tr>
                <tr>
           
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                </tr>
                  
          </tbody>
                </table>
              </div>
       
                  
                    </form> 		    
               
               </div>
          
            </div>
          
          <div class="box " id="t3">
              <div class="box-header with-border" style="">
                <h3 class="box-title">Scan  Details</h3>
  
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus" style="color:#faad3b;"></i>
                  </button>
               </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                <!-- Map will be created here -->
            <form class="">
                       <div class="col-lg-12">
                            <div class="col-lg-3 pull-right"><br/>
                              <button type="button" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Download Template</button>
                              </div>
                              <div class="col-lg-3 pull-right">
                                <label>Upload Excell</label>
                                  <input type="file">
                              </div>
                          </div>
              <div class="box-body table-responsive">
       
               <table class="table table-bordered table-hover" id="example3" style="width:100%;">
                  <thead>
  
           <tr>
                 
                 <th class="th">Open</th>
                 <th class="th">Completed</th>
           
          </tr>
           </thead>
  <tbody>
           <tr>
           <td class="td">100</td>
                 <td class="td">150</td>
                </tr>
              
          </tbody>
                </table>
              </div>
       
                  
                    </form> 		    
               
               </div>
          
            </div>
            
          <div class="box " id="t4" >
              <div class="box-header with-border" style="">
                <h3 class="box-title">Table 4</h3>
  
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus" style="color:#e08e0b;"></i>
                  </button>
               </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                <!-- Map will be created here -->
            <form class="">
                       <div class="col-lg-12">
                            <div class="col-lg-3 pull-right"><br/>
                              <button type="button" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Download Template</button>
                              </div>
                              <div class="col-lg-3 pull-right">
                                <label>Upload Excell</label>
                                  <input type="file">
                              </div>
                          </div>
              <div class="box-body table-responsive">
       
               <table class="table table-bordered table-hover" id="example4" style="width:100%;">
                  <thead>
  
           <tr>
                 
                 <th class="th">Date</th>
                 <th class="th">Patient Name</th>
                 <th class="th">Amount</th>
                 <th class="th">Mode</th>
              </tr>
           </thead>
  <tbody>
           <tr>
          
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                </tr>
                <tr>
           
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                </tr>
                  
          </tbody>
                </table>
              </div>
       
                  
                    </form> 		    
               
               </div>
          
            </div>
            
          <div class="box " id="t5" >
              <div class="box-header with-border" style="">
                <h3 class="box-title">table 5</h3>
  
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus" style="color:#e08e0b;"></i>
                  </button>
               </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                <!-- Map will be created here -->
            <form class="">
                       <div class="col-lg-12">
                            <div class="col-lg-3 pull-right"><br/>
                              <button type="button" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Download Template</button>
                              </div>
                              <div class="col-lg-3 pull-right">
                                <label>Upload Excell</label>
                                  <input type="file">
                              </div>
                          </div>
              <div class="box-body table-responsive">
       
               <table class="table table-bordered table-hover" id="example5" style="width:100%;">
                  <thead>
  
           <tr>
                 
                 <th class="th">Date</th>
                 <th class="th">Patient Name</th>
                 <th class="th">Amount</th>
                 <th class="th">Mode</th>
              </tr>
           </thead>
  <tbody>
           <tr>
          
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                </tr>
                <tr>
           
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                </tr>
                  
          </tbody>
                </table>
              </div>
       
                  
                    </form> 		    
               
               </div>
          
            </div>
            
          <div class="box " id="t6" >
              <div class="box-header with-border" style="">
                <h3 class="box-title">table 6</h3>
  
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus" style="color:#e08e0b;"></i>
                  </button>
               </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                <!-- Map will be created here -->
            <form class="">
                       <div class="col-lg-12">
                            <div class="col-lg-3 pull-right"><br/>
                              <button type="button" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Download Template</button>
                              </div>
                              <div class="col-lg-3 pull-right">
                                <label>Upload Excell</label>
                                  <input type="file">
                              </div>
                          </div>
              <div class="box-body table-responsive">
       
               <table class="table table-bordered table-hover" id="example6" style="width:100%;">
                  <thead>
  
           <tr>
                 
                 <th class="th">Date</th>
                 <th class="th">Patient Name</th>
                 <th class="th">Amount</th>
                 <th class="th">Mode</th>
              </tr>
           </thead>
  <tbody>
           <tr>
          
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                </tr>
                <tr>
           
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                 <td class="td">------</td>
                </tr>
                  
          </tbody>
                </table>
              </div>
       
                  
                    </form> 		    
               
               </div>
          
            </div>
       </section>
        <!-- /.row (main row) -->
  
      </section>
  <!-- /.content --></div>
  <!-- /.content-wrapper -->
  
  <footer class="main-footer">
  <div class="pull-right hidden-xs"><b>Version</b> 2.3.8</div>
  <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.</footer>
  <!-- Control Sidebar -->
  
  <aside class="control-sidebar control-sidebar-dark"><!-- Create the tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li></li>
    <li></li>
  </ul>
  <!-- Tab panes -->
  
  <div class="tab-content"><!-- Home tab content -->
  <div class="tab-pane" id="control-sidebar-home-tab">
  <h3 class="control-sidebar-heading">Recent Activity</h3>
  
  <ul class="control-sidebar-menu">
    <li>
    <div class="menu-info">
    <h4 class="control-sidebar-subheading"><a href="javascript:void(0)">Langdon&#39;s Birthday</a></h4>
  
    <p><a href="javascript:void(0)">Will be 23 on April 24th</a></p>
    </div>
    </li>
    <li>
    <div class="menu-info">
    <h4 class="control-sidebar-subheading"><a href="javascript:void(0)">Frodo Updated His Profile</a></h4>
  
    <p><a href="javascript:void(0)">New phone +1(800)555-1234</a></p>
    </div>
    </li>
    <li>
    <div class="menu-info">
    <h4 class="control-sidebar-subheading"><a href="javascript:void(0)">Nora Joined Mailing List</a></h4>
  
    <p><a href="javascript:void(0)">nora@example.com</a></p>
    </div>
    </li>
    <li>
    <div class="menu-info">
    <h4 class="control-sidebar-subheading"><a href="javascript:void(0)">Cron Job 254 Executed</a></h4>
  
    <p><a href="javascript:void(0)">Execution time 5 seconds</a></p>
    </div>
    </li>
  </ul>
  <!-- /.control-sidebar-menu -->
  
  <h3 class="control-sidebar-heading">Tasks Progress</h3>
  
  <ul class="control-sidebar-menu">
    <li>
    <h4 class="control-sidebar-subheading"><a href="javascript:void(0)">Custom Template Design <span class="label label-danger pull-right">70%</span> </a></h4>
  
    <div class="progress progress-xxs">
    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
    </div>
    </li>
    <li>
    <h4 class="control-sidebar-subheading"><a href="javascript:void(0)">Update Resume <span class="label label-success pull-right">95%</span> </a></h4>
  
    <div class="progress progress-xxs">
    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
    </div>
    </li>
    <li>
    <h4 class="control-sidebar-subheading"><a href="javascript:void(0)">Laravel Integration <span class="label label-warning pull-right">50%</span> </a></h4>
  
    <div class="progress progress-xxs">
    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
    </div>
    </li>
    <li>
    <h4 class="control-sidebar-subheading"><a href="javascript:void(0)">Back End Framework <span class="label label-primary pull-right">68%</span> </a></h4>
  
    <div class="progress progress-xxs">
    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
    </div>
    </li>
  </ul>
  <!-- /.control-sidebar-menu --></div>
  <!-- /.tab-pane --><!-- Stats tab content -->
  
  <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
  <!-- /.tab-pane --><!-- Settings tab content -->
  
  <div class="tab-pane" id="control-sidebar-settings-tab">
  <form method="post">
  <h3 class="control-sidebar-heading">General Settings</h3>
  
  <div class="form-group"><label class="control-sidebar-subheading">Report panel usage <input checked="checked" class="pull-right" type="checkbox" /> </label>
  
  <p>Some information about this general settings option</p>
  </div>
  <!-- /.form-group -->
  
  <div class="form-group"><label class="control-sidebar-subheading">Allow mail redirect <input checked="checked" class="pull-right" type="checkbox" /> </label>
  
  <p>Other sets of options are available</p>
  </div>
  <!-- /.form-group -->
  
  <div class="form-group"><label class="control-sidebar-subheading">Expose author name in posts <input checked="checked" class="pull-right" type="checkbox" /> </label>
  
  <p>Allow the user to show his name in blog posts</p>
  </div>
  <!-- /.form-group -->
  
  <h3 class="control-sidebar-heading">Chat Settings</h3>
  
  <div class="form-group"><label class="control-sidebar-subheading">Show me as online <input checked="checked" class="pull-right" type="checkbox" /> </label></div>
  <!-- /.form-group -->
  
  <div class="form-group"><label class="control-sidebar-subheading">Turn off notifications <input class="pull-right" type="checkbox" /> </label></div>
  <!-- /.form-group -->
  
  <div class="form-group"><label class="control-sidebar-subheading">Delete chat history </label></div>
  <!-- /.form-group --></form>
  </div>
  <!-- /.tab-pane --></div>
  </aside>
  <!-- /.control-sidebar --><!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
  
  <div class="control-sidebar-bg"></div>
  </div>
  
  </body>
  