<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
   <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
       <li class=" treeview">
        <a routerLink="/dashboard">
          <i class="fa fa-dashboard"></i>
           <span>Home</span>
        </a>
      </li>
     
      <li class="treeview">
        <a routerLink="/organisation">
          <i class="fa fa-users"></i>
          <span>Organisation</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="/suborg">
          <i class="fa fa-user-md"></i>
          <span>Sub-Organisation</span>
        </a>
      </li>
      <li class="active treeview">
        <a routerLink="/diagnosticcentre">
          <i class="fa fa-file-excel-o"></i>
          <span>Diagnostic Center</span>
        </a>
      </li>
      <li class="treeview ">
        <a routerLink="/templates">
          <i class="fa fa-download"></i>
          <span>Manage Template</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="/searchpatient">
          <i class="fa fa-search"></i>
          <span>Search Patient</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="/user">
          <i class="fa fa-user"></i>
          <span>Manage User</span>
        </a>
      </li>
       <li class="treeview">
        <a routerLink="/doctordetails">
          <i class="fa fa-user-plus"></i>
          <span>Manage Doctor</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="/cliniccenter">
          <i class="fa fa-building-o"></i>
          <span>Manage Clinic/Center</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="/test">
          <i class="fa fa-file-text-o"></i>
          <span>Manage Test</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="/scan">
          <i class="fa fa-print"></i>
          <span>Manage Scan</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="/datadictionary">
          <i class="fa fa-book"></i>
          <span>Manage Datadictionary</span>
        </a>
      </li>
      
      <li class="treeview">
        <a routerLink="/article">
          <i class="fa fa-newspaper-o"></i>
          <span>Manage Article</span>
        </a>
      </li>
      <li class="treeview ">
        <a routerLink="/itemtype">
          <i class="fa fa-file-pdf-o"></i>
          <span>Manage Item Type</span>
        </a>
      </li>
      
      <li class="treeview">
        <a routerLink="/item">
          <i class="fa fa-tasks"></i>
          <span>Manage Item</span>
        </a>
      </li>
     <!-- <li class="treeview">
        <a href="medicineconsumption.html">
          <i class="fa fa-user-secret"></i>
          <span>Manage Medicine Type</span>
        </a>
      </li>-->
      <li class="treeview">
        <a routerLink="/medicine">
          <i class="fa fa-user-secret"></i>
          <span>Manage Medicine</span>
        </a>
      </li>
     
    <li class="treeview">
        <a routerLink="/food">
          <i class="fa fa-fighter-jet"></i>
          <span>Food Admin</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="/sample">
          <i class="fa fa-file"></i>
          <span>Manage Sample</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="/exercise">
          <i class="fa fa-anchor"></i>
          <span>Manage Exercise</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
